:root
{
    --viewer-nn: 100vw;
}

*
{
    cursor: default;
}

::-webkit-scrollbar
{
    display: none;
}

.bi
{
    margin:2px 0px;
}

body
{
    position: relative;
}

button[enabled="true"]:hover
{
    background-color: rgba(25, 135, 84, 0.8) !important;
    border-style: outset;
}

.card > *
{
    cursor: pointer;
}

.carousel-item
{
    height: 32rem;
    background-color: #777;
}

.col:has(> input[type="range"])
{
    max-width: 250px;
}

/* .dropdown-divider
{
    visibility: hidden;
} */

.dropdown-label
{
    margin: 2px 10px;
    font-weight: 500;
}

#final-action > div
{
    padding: 0px;
}

footer
{
    margin: 0 !important;
}

.h1
{
    border-bottom: 4px solid #333;
}

.icon-label
{
    margin: 2px 10px;
}

nav
{
    padding: 0 30px;
}

#overview
{
    height: 100vh;
    width: 100vw;
    background-color: rgba(30,30,30,0.5);
    z-index: 1000;
}

#overview-close
{
    width: 42px;
    font-size: 1.2rem;
    position: absolute;
    top: 0px;
    right: 5px;
}

#overview-close > *
{
    cursor: pointer;
    color: #777;
}

#overview-details
{
    padding: 30px;
    position: relative;
}

#overview-price
{
    padding-top: 15px;
    padding-bottom: 15px;
}

#overview-product
{
    height: 450px;
}

#overview-quantity-selection
{
    height: 20px;
}

#overview-rating
{
    letter-spacing: 2.5px !important;
    width: auto;
}

#overview-rated
{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-align: center;
    width: auto;
}

#overview-sold
{
    text-align: center;
    width: auto;
}

#products
{
    margin-top: 20px;
}

#prompt
{
    height: 400px;
    width: 550px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row
{
    width: 100vw;
}

.row:has(> #overview-sizes-selection)
{
    margin-top: 15px;
    margin-bottom: 15px;
}

#skip
{
    height: 60px;
    width: 200px;
    position: absolute;
    bottom: 40px;
    border: 1px solid white;
    opacity: 50%;
    font-size: 1.7rem;
}

#skip:hover
{
    opacity: 90%;
}

video
{
    height: 100vh;
}

@media only screen and (max-width: 575px) {
    #overview-details
    {
        padding: 30px 10px
    }

    #overview-product
    {
        height: 100vw;
        width: 100vw;
    }

    div:has(> #overview-quantity) 
    {
        padding-left: 30px;
    }

    div:has(> #overview-quantity-max) 
    {
        padding-left: 24px;
    }

    div:has(> #overview-quantity-count) 
    {
        padding: 0px;
    }

    #final-action
    {
        padding: 15px;
    }

    #final-action > div
    {
        padding: 0px;
    }

    [id*="final-"] > .col-6
    {
        width: 49%;
    }

    .col-6 > [id*="final-"]
    {
        width: 100%;
    }

    [id*="final-"] > .bi
    {
        display: none;
    }

    #overview-rated
    {
        display: none;
    }

    #overview-rating
    {
        border-right: 1px solid #ddd;
    }
}

@media only screen and (min-width: 576px) {
    #overview-details
    {
        padding: 30px 54px;
    }

    .h2
    {
        font-size: 40px;
    }

    .h4
    {
        font-size: 32.96px;
    }

    #overview-product
    {
        height: 570px;
        width: 570px;
    }

    div:has(> #overview-quantity) 
    {
        width: auto;
    }

    #overview-quantity
    {
        width: 300px;
    }

    div:has(> #overview-quantity-count) 
    {
        margin-left: 65px;
    }

    #final-action
    {
        padding: 15px;
    }

    [id*="final-"] > .col-6
    {
        width: 49%;
    }

    .col-6 > [id*="final-"]
    {
        width: 100%;
    }

    #overview > .row
    {
        padding: calc((100vw - 570px)/2);
    }

    #overview-details > .row
    {
        width: 100%;
    }

    .overview-sizes
    {
        width: 60px;
    }
}

@media only screen and (min-width: 768px) {

    .col-6 > [id*="final-"]
    {
        font-size: 19.2px
    }

    div:has(> #overview-quantity) 
    {
        width: auto;
    }

    div:has(> #overview-quantity-count) 
    {
        margin-left: 140px;
    }

    .h2
    {
        font-size: 54px;
    }

    .h4
    {
        font-size: 44px;
    }

    #overview > .row
    {
        padding: calc((100vw - 750px)/2);
    }

    #overview-details
    {
        padding: 30px 70.64px;
        font-size: 19.2px;
    }

    #overview-product
    {
        height: 750px;
        width: 750px;
    }

    #overview-quantity
    {
        width: 370px;
    }

    .overview-sizes
    {
        width: 100px;
    }
    .row
    {
        width: 100%;
    }
}



@media only screen and (min-width: 992px)
{
    .col-6 > [id*="final-"]
    {
        font-size: 19.2px
    }

    div:has(> #overview-quantity-count) 
    {
        margin-left: 40px;
    }

    .h2
    {
        font-size: 36.8px;
    }

    .h4
    {
        font-size: 29.12px;
        padding-right: 0;
    }

    #overview > .row
    {
        padding: 0;
        width: 950px;
    }

    #overview-details
    {
        padding: 30px 38px;
        font-size: 16px;
    }

    #overview-price
    {
        padding: 10px;
        margin-bottom: 10px;
    }

    #overview-product
    {
        height: auto;
        width: 100%;
    }

    #overview-quantity
    {
        width: 270px;
    }

    #overview-review
    {
        margin-top: 2px;
    }

    .overview-sizes
    {
        width: 64px;
    }

    div.row:has(> #overview-sizes-selection)
    {
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }

    #overview-sold
    {
        width: 95px;
    }

    #products > .justify-content-center
    {
        margin: 0;
    }
}