:root
{
    --black: #222529;
    --gray: #b3b3b3;
}

*
{
    color: var(--gray);
}

a
{
    text-decoration: none;
}

.bi
{
    color: var(--black);
    font-size: 1.4rem;
}

body
{
    height: 100vh;
}

.border
{
    margin: 7px 0;
    border: none !important;
}

.btn
{
    width: inherit;
}

form
{
    border-radius: 20px;
    padding: 30px 0;
}

input
{
    width: inherit;
}

.margin-top
{
    margin-top: 24px;
}

.label
{
    color: var(--black);
}

.row
{
    margin: 4px 0;
}

@media only screen and (max-width: 576px) {
    .row
    {
        width: 100%;
    }
}

@media only screen and (min-width: 577px) {
    .row
    {
        width: 450px;
    }
}